.about_container {
    padding-top: 20px;
    border: 1px solid black;
  }
  
  .content_wrapper {
    display: flex; /* Use flexbox to arrange children in a row */
    justify-content: space-between; /* Create space between text and SVG */
    padding: 20px; /* Optional: Add padding around the content */
  }
  
  .title{
    padding-bottom: 15px;
  }
  
  .text_container {
    flex: 1; /* Allow the text container to take up available space */
     /* Add space between text and SVG */
    padding-left: 15px;
    padding-right: 80px;
  }
  
  
  .image_wrapper {
    flex: 1; /* Allow the image wrapper to take up available space */
    display: flex; /* Center the image within its container */
  }
  
  .about_svg {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    max-width: 450px; /* Optional: Set a maximum width for the SVG */
  }
  
  .skills{
    padding-top: 15px;
    font-size: 24px;
  }
  
  .items{
    padding: 2px;
    font-size: 16px;
  }
  
  .listTitle{
    font-weight: 600;
  }
  
  .listItems{
    padding-left: 20px;
    font-weight: 300;
  }
  
  .desc{
    padding-top: 20px;
  }